@use "../custom" as *;

.button-primary{
    background-color: $secondary;
    color: $primary;
    font-weight: 700;
    padding: .7188rem 1.4688rem;
    border: none;
    border-radius: 0;

    &:hover{
        background-color: $primary;
        color: $secondary;
        border: 2px solid $secondary;
    }

    @include media-breakpoint-up(xl){
        font-size: 1.125rem;
        padding: .9063rem 2rem;
    }

    &__hero{
        margin-top: 2.375rem;
        margin-bottom: 6rem;

        @include media-breakpoint-up(md){
            margin-bottom: 8.9375rem;
        }

        @include media-breakpoint-up(xl){
            margin-bottom: 16.625rem;
        }
    }
}